{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="Ciocolatto">

    {% block meta %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
    

    {% block css %}{% endblock %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	   <!-- <link href="//fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css" />-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   

  
    
    {% block js %} {% endblock %}
    <script src="{% static 'js/jquery/jquery.js' %}"></script>
    <script src="{% static 'jquery/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/agency/cbpAnimatedHeader.js' %}"></script>
    <script src="{% static 'js/agency/agency.js' %}"></script>
    <script src="{% static 'js/bootstrap/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    

</head>

<body id="page-top" class="index">
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="collapse navbar-collapse" style="background-color: #2b1100" >
            <ul class="nav navbar-nav navbar-right" style="margin-right: 160px;">
                    <li class="hidden"> <a href="/#page-top"> </a> </li>
                    <li> <a class="page-scroll" href="/#team" style="color: white!important; margin-right: 190px;"><i style="font-size: 17px;" class="fa fa-info"></i>&nbsp;&nbsp;&nbsp;Sobre Nós&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a class="page-scroll" style="color: white!important" target="_blank" href="https://www.facebook.com/ciocolattobrigaderia"><img alt="ciocolatto facebook" src="{% static 'img/face_26.png' %}" style="margin-top: -4px;"/></a></li>
                    <li><a class="page-scroll" style="color: white!important" target="_blank" href="https://www.instagram.com/ciocolattobrigaderia/"><img alt="ciocolatto instagram" src="{% static 'img/insta.png' %}" style="margin-top: -7px; margin-left: -15px"/></a></li>
                </ul></div>


    <a class="navbar-brand page-scroll" href="{% url 'home' %}"><img alt="ciocolatto logo" style="cursor: pointer" class="logo" src="{% static 'img/logo.png' %}"/></a>

    
    <div class="col-md-4">
        {% if messages %}
                <p>
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissable"><br><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
    </div>

    <div class="container">                
        <div class="navbar-header page-scroll">
            <a class="page-scroll" style="color: white!important" target="_blank" href="https://www.facebook.com/ciocolattobrigaderia"><img alt="ciocolatto facebook mobile" src="{% static 'img/face_26.png' %}" style="margin-top: 8px; margin-left: 23%;" class="logo_mob"/></a>
            <a class="page-scroll" style="color: white!important" target="_blank" href="https://www.instagram.com/ciocolattobrigaderia/"><img alt="ciocolatto instagram mobile" src="{% static 'img/insta.png' %}" style="margin-top: 6px;" class="logo_mob"/></a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                    <li class="hidden"> <a href="/#page-top"> </a> </li>
                    <li> <a class="page-scroll" href="{% url 'home'%}#services"><i style="margin-right:10px; font-size: 27px;" class="fa fa-gift"></i>Produtos</a></li>
                    <li> <a class="page-scroll" href="{% url 'home'%}#about"><i style="margin-right:10px; font-size: 27px;" class="fa fa-calendar"></i>Agenda</a></li>
                    <li><a class="page-scroll" href="{% url 'home'%}#contact"><i style="margin-right:10px; font-size: 27px;" class="fa fa-address-book"></i>Contato</a></li>
                    <!--<li><a id="modal-launcher" data-toggle="modal" data-target="#login-modal" class="page-scroll" href="#"><i style="margin-right:10px; font-size: 27px;" class="fa fa-user"></i>Login</a></li>-->
            </ul>
        </div>
            
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header login_modal_header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="myModalLabel">Acesse sua conta</h2>
                    </div>
                    <div class="modal-body-sec login-modal"><br/>
                    <div class="clearfix"></div>
                    <div id='social-icons-conatainer'>
                    <div class='modal-body-left'>
                        <div class="form-group">
                            <input type="text" id="username" placeholder="Usuário/Email" value="" class="form-control login-field">
                            <i class="fa fa-user login-field-icon"></i>
                        </div>
                        <div class="form-group">
                            <input type="password" id="login-pass" placeholder="Senha" value="" class="form-control login-field">
                            <i class="fa fa-lock login-field-icon"></i>
                        </div>
                        <a href="#" class="btn btn-ciocolatto modal-login-btn">Entrar</a>
                        <a href="#" class="login-link text-center">Esqueci minha senha?</a>
                    </div>
                    <div class='modal-body-right'>
                        <div class="modal-social-icons">
                            <p></p><p></p>
                            <a href='#' class="btn btn-default facebook"> <i class="fa fa-facebook modal-icons"></i>Facebook</a>
                            <a href='#' class="btn btn-default google"> <i class="fa fa-google-plus modal-icons"></i>Google</a>
                        </div> 
                    </div>  
                    <div id='center-line'> OU </div>
                </div>                                                                                                     
                <div class="clearfix"></div>
                <div class="form-group modal-register-btn">
                    <button class="btn btn-default">Crie já sua conta</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer login_modal_footer">
            </div>
        </div>
    </div>
</div>
</div>
</nav>

    {% block conteudo %}
    {% endblock %}


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">


                    <h2 class="section-heading">Contate-nos</h2>
                    <h3 class="section-subheading text-muted-white">Mande sua sugestão, dúvida ou podemos ter um bate-papo.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" method="POST">
                        {% csrf_token %}


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Digite aqui seu nome" id="name" name="name" required data-validation-required-message="Por favor, insira seu nome.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Digite aqui seu email" id="email" name="email" required data-validation-required-message="Por favor, insira seu e-mail.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" name="subject" id="subject" placeholder="Digite aqui o assunto" required data-validation-required-message="Por favor, insira o assunto.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" id="message" placeholder="Digite aqui sua mensagem, número de telefone e/ou outra informação que desejar" required data-validation-required-message="Por favor, insira uma mensagem."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" name="submit" class="btn btn-xl">Envie sua mensagem</button>
                                <p>
                                <h3 style="color: white"> 160 Rua Machado Sidney 12245-650 São José dos Campos</h3>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Veja no mapa <i style="margin-left: 10px; font-size: 20px" class="fa fa-map-marker"></i></button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel2">Nossa Localização</h4>
                                  </div>
                                  <div class="modal-body">
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


{% block footer %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Ciocolatto 2017</span>
            </div>
            <div class="col-md-6">
                <span class="copyright">Formas de Pagamento</span>
                <ul class="list-inline social-buttons">
                    <li><img alt="cartao visa forma de pagamento" src="{% static 'img/visa-48px.png' %}"/>&nbsp;</li>
                    <li><img alt="cartao mastercard forma de pagamento" src="{% static 'img/mastercard-48px.png' %}"/></li>
                    <li><img alt=" cartao amex forma de pagamento" src="{% static 'img/amex-48px.png' %}"/>&nbsp;
                    <li><img alt="cartao hipercard forma de pagamento" src="{% static 'img/hipercard-48px.png' %}"/></li>
                    <li><img alt="cartao elo forma de pagamento" src="{% static 'img/elo-48px.png' %}"/>&nbsp;</li>
                    <li><img alt="boleto forma de pagamento" src="{% static 'img/boleto-48px.png' %}"/></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}


</body>


</html>


<script type="text/javascript">
$.stellar({
    horizontalScrolling: false,
    responsive: true
});


$('#myModal').on('shown.bs.modal', (function() {
  var mapIsAdded = false;

  return function() {
    if (!mapIsAdded) {
      $('.modal-body').html('<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.383571173414!2d-45.8899897850292!3d-23.192687984867156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc4a14d1aea63b%3A0x6acb94607339ee7e!2sR.+Machado+Sidnei%2C+160+-+Centro%2C+S%C3%A3o+Jos%C3%A9+dos+Campos+-+SP%2C+12245-650!5e0!3m2!1spt-BR!2sbr!4v1500505968377" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>');

      mapIsAdded = true;
    }    
  };
})());
</script>
