{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Eventos | Ciocolatto Brigaderia Vegana{% endblock %} 

{% block conteudo %}
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Agenda</h2>
                    <h3 class="section-subheading text-muted">Veja nossa agenda <b>completa</b>.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <ul style="display: inline;">
                        {% for agenda in eventos %}
                        <li style="float: left; padding: 10px; margin: 20px;">
                            <div class="timeline-image">
                                <img id="agenda1" style="margin-left: 20px;width: 120px;height: 120px;"   class="img-circle img-responsive" src="{{ agenda.foto.url }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="">{{agenda.data}} <br> {{ agenda.titulo }}</h4>
                                    <h4>Veja em: <a href={{ agenda.descricao }}><img alt="ciocolatto facebook" src="{% static 'img/face_26.png' %}" style="margin-top: -5px" /></a></a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}