{% extends 'base.html' %}
{% load staticfiles %}
 
{% block title %}Eventos | Ciocolatto Brigaderia Vegana{% endblock %} 


{% block conteudo %}
    <section id="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Agenda</h2>
                    <h3 class="section-subheading text-muted">Veja nossa agenda <b>completa</b>.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <ul style="display: inline;">
                        {% for agenda in eventos %}
                        <li style="float: left; padding: 10px; margin: 20px;">
                            <div class="">
                                <img id="agenda1" class="img-circle img-responsive" src="" alt="">
                            </div>

                                <script>
                                    var imageNumber = 1;
                                    var current_image = document.getElementById('agenda'+imageNumber);

                                    function corrigePath(path) {
                                    var correct = path;
                                    var correct = correct.replace("ciocolatto/", "../");
                                    document.getElementById('agenda'+imageNumber).src = correct;
                                    }

                                    corrigePath("{{agenda.foto.url}}");

                                    imageNumber++;
                                    current_image.id = 'agenda'+imageNumber;



                                </script>

                            
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="">{{agenda.data}} <br> {{ agenda.titulo }}</h4>
                                    <h4>{{agenda.descricao}}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    
    
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nossa Localização</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
{% endblock%}