{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Produtos | Ciocolatto Brigaderia Vegana{% endblock %} 
 
{% block conteudo %}
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Produtos</h2>
                    <h3 class="section-subheading text-muted">Encontre aqui as melhores opções de brigadeiro!</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for produto in produtos %}
                    <div class="col-sm-3">
                        <div class="team-member">
                            {% if produto.get_primeira_foto %}
                                <img src="{{ produto.get_primeira_foto.foto.url }}" style="width: 200px; height: 200px" class="img-responsive img-circle"/>
                            {% else %}
                                <img src="{% static 'img/semimg.gif' %}" alt="Produto sem imagem" style="width: 200px; height: 200px" class="img-responsive img-circle"/>
                            {% endif %}

                            <h4>{{ produto.nome }}<p></h4>
                            <p class="text-muted">{{ produto.descricao }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}